@font-face {
    font-family: fonte;
    src: url(assets/fonte/Play\ Area.otf);
}

body {
    background: url(assets/images/wallpaper\ top.png);
    background-size: cover;
    background-color: rgb(27, 27, 109);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#titulologin {
    font-size: 30px;
    color: white;
}

#loginemail {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    width: 60%;
}

#loginsenha {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    width: 60%;
}

.quadrados {
    width: 380px;
    min-height: 45px; 
    border-radius: 50px;
    background-color: #06050e77;
    margin: 10px 0;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
}

#selecao {
    border-color: black;
    background-color: #ffffff;
}

#termos {
    border-color: black;
}

#canvas {
    font-family: fonte;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.8);
    width: 450px;
    padding: 30px; 
    border-radius: 15px; 
    background-color: rgba(0, 0, 0, 0.6); 
    border: 2px solid #000000;
}

#entrarbox {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: fonte;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

#entrarbox:hover {
    background-color: white;
    color: black;
}

::placeholder {
    color: white;
    opacity: 0.8;
}

#canvas a {
    color: white;
    margin-top: 15px;
    display: inline-block;
}