@font-face {
    font-family: fonte;
    src: url(assets/fonte/Play\ Area.otf);
}

body {
    background: url(assets/images/red\ dead\ 1.jpg);
    background-color: rgb(27, 27, 109);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulologin {
    font-size: 30px;
}



#loginemail {
    background-color: rgba(255, 255, 255, 0);
    border-color: black;
    
}

#loginsenha {
    background-color: rgba(255, 255, 255, 0);
    border-color: black;
}

.quadrados {
    width: 400px;
    height: 30px;
    border-radius: 50px;
    background-color: #736e9477;
    margin:auto;
    border: 2px solid rgb(255, 255, 255);
}

#seleção {
    border-color: black;
    background-color: #ffffff;
}

#termos {
    border-color: black;
    
}

#canvas {
    font-family: fonte;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fcfcfc;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.8);
    width: 500px;
    height: 650px;
    border: 2px solid #000000;
}

#entrarbox {
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    

}