

body {
    background: url(assets/images/wallpaper\ top.png);
    color: white;
}
    
table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:rgb(255, 255, 255)
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  